body {
    background-color: rgb(183, 199, 218);
}

strong {
    font-size: 26px;
}

h2 {
    font-size: 28px;
    color: #941515;
    text-transform: uppercase;
    border-bottom: 3px solid #250000;
}

a {
    text-decoration: none;
    color: #250000;
    font-weight: bold;
}

a:hover {
    color: #0079FF;
}

img#me {
	max-width: 180px;
	height: auto;
}

img#me:hover {
    max-width: 360px;
}

.page {
    width: 100vh;
    margin: auto;
    font-size: 16px;
    font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
    padding: 40px;
    border: 5px solid #9e0000;
    border-radius: 10px;
    box-shadow: 6px 6px 20px black;
    background-color: #FFFF;

}

.infophoto {
    height: 250px;
    margin: auto;
}

.info {
    float : left;
    font-size: 20px;
}

.photo {
    float: right;
    
}

.section {
    margin-bottom: 70px;
    text-align: justify;
}

.section:hover {
    color: #0079FF;
}

.sec-gauche {
    float: left;
    font-size: 20px;
    color: rgb(77, 77, 77);
}

.sec-droite {
    margin-left: 180px;
    margin-top: 40px;
    
}

.titre {
    font-weight: bold;
    font-size: 20px;
}

#ajust1 {
    margin-bottom: 40px;
}

#ajust2 {
    margin-top: 30px;
}

.ajust3 {
    margin-top: 20px;
    font-size: 19px;
}

#ajust4 {
    margin-bottom: 60px;
}

#ajust5 {
    margin-top: 75px;
}

#ajust6 {
    margin-top: 40px;
}

#ajust7 {
    margin-top: 45px;
}

#ajustchrome {
    margin-top: 45px;
}